.card {
    background:rgb(100, 55, 236);
    height: 200px;
    width: 200px;
    margin-top: 1rem;
    position: relative;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  }
  .card > .img-container {
    overflow: hidden;
    text-align: center;
  }
  .card > .img-container > img {
    width: 60%;
  }

 .Leela.Centaur {
    padding-top: 2rem;
  }

  .Roberto,
  .Bender.Angry,
  .Female.Fry {
    padding-top: 1rem;
  }

  .Nibbler,
  .Zoidberg,
  .Bender.Parties,
  .Zap  {
    padding-top: 0.5rem;
  }